<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PID" value="6001"/>
    <add key="DefaultPIDAmountToCheck" value="1"/>
    <add key="HiddenDeviceDeleteCount" value="200"/>
  </appSettings>
</configuration>